.infobox {
  width: 72vw;
  margin: auto;
  display: flex;
  text-align: center;

  &__container {
    text-align: center;
    width: 20vw;
    height: 33vh;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    margin: 3.5rem;
    border-radius: 30px;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-2rem) scale(1.03);
    }
  }
  &__i {
    font-size: 5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &__heading {
    font-size: 2.5rem;
    color: peru;
    text-transform: uppercase;
  }
  &__p {
    font-size: 2rem;
  }
}
