//COLORS
$color-primary: #d26ce6c0;
$color-primary-light: #d220f577;
$color-primary-dark: #6e0585b6;
$color-primary-light-1: #fff0fe;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.6rem;
